.site-list {
  @include reset-list();

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 490px;

  &--footer {
    width: 585px;
  }
}

.site-list__link {
  font-weight: 700;
  color: $white;

  &:hover,
  &:focus {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 50%;

      width: 4px;
      height: 4px;

      background-color: $white;
      border-radius: 50%;
      transform: translateX(-50%);
    }
  }
}
