$white: #ffffff;
$black: #000000;
$dark-blue: #31496b;
$blue: #39649d;
$light-blue: #5489c3;
$pink: #e70067;
$dark-pink: #c9005a;
$main-text: #60759d;
$light-gray: #f1f3fb;
$bg-access: #e2e8f4;
$blue-dot: #16afe0;


$font: "Cera Round", "Arial", sans-serif;

$indent: 20px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
